###### string is immutable (non changable)
they are not change in memory

In [2]:
course = "sanaullah khan"

In [4]:
print(type(course))

<class 'str'>

In [5]:
course.capitalize()

'Sanaullah khan'

In [6]:
course.upper()

'SANAULLAH KHAN'

In [7]:
course.lower()

'sanaullah khan'

In [8]:
course.title()

'Sanaullah Khan'

In [12]:
course.count("s")

1

In [13]:
text = "a book or other written or printed work, regarded in terms of its content rather than its physical form."

In [14]:
course

'sanaullah khan'

In [17]:
text.endswith("m.")

True

In [18]:
text.startswith("a")

True

In [19]:
marks = "100"

In [20]:
marks.isalnum()

True

In [21]:
marks.isalpha()

False

marks.islower()

# String cocatenation:joining
"+" operator is conatnenation operator
plus opreator ki 2 behaviour hote ha agar number mile to plus kare ga agar string hoga to join kare ga

In [24]:
first_name = "sana"
last_name = "Hassan"

In [25]:
first_name + last_name

'sanaHassan'

In [26]:
age = 30

In [27]:
first_name+last_name+age

TypeError: can only concatenate str (not "int") to str

In [28]:
first_name+last_name+str(age)

'sanaHassan30'

In [30]:
name = input("plase tell mre your good name")
fname = input("dont milnd abbu ka name baten: ")
age = float( input ("how old are you"))
print("Mr."+name+ "son of"+fname + "you are " + str(age)  + "old.")

plase tell mre your good name rashid
dont milnd abbu ka name baten:  master
how old are you 29

Mr.rashid son ofmasteryou are 29.0old.

# string formatting

In [32]:
print("Mr. {} S/o {} your are {} old".format(name,fname,age))
#placeholders

Mr. rashid  S/o master your are 29.0 old

In [34]:
#we use f formating here 
print(f"Mr.{name} s/o {fname} you are  {age} old")

Mr.rashid  s/o master you are  29.0 old

In [37]:
studentname = bool(input("imrankhan ha your name ya nahi ha"))
parentname = bool(input("mama"))
age = float(input("enter your age"))

print(f"tum {studentname} khan {parentname} age {age}")

imrankhan ha your name ya nahi ha no
mama no
enter your age 20

tum True khan True age 20.0

# String indexing and slicing

In [40]:
text = "a book or other written or printed work" # single line string double goutes

In [41]:
text = 'a book or other written or printed work' #sigle line string single quotes

In [42]:
text = """ dfksafjsdfjsdlf ksdfjsdlkfjdslfk sjkfklsd 
jkdskf dklfhsdf kjdskjf sdkfjdsfjsdfksdjfsd;"""  # multiple line string are making using three qoutes ok

In [43]:
text = '''dfksafjsdfjsdlf ksdfjsdlkfjdslfk sjkfklsd 
jkdskf dklfhsdf kjdskjf sdkfjdsfjsdfksdjfsd'''

# lengyh >>> len()

In [44]:
len(text)

86

In [45]:
text = "pakistan is very poor country"
# index 0123456789

In [46]:
len(text)

29

In [54]:
text = "Pakistan"
#       01234567
#       -8-7-6-5-4-3-2-1

In [55]:
# indexiing brakcect are use for indexing 

text[0]

'P'

In [59]:
text[2]

'k'

In [61]:
text[-8]

'P'

# Slicing #sub string

In [62]:
text = "tum ho mere jan jahah me ho tera dewana"

In [66]:
# slice is return a copy of the string
text[0:11] # [ start : end :step] by deafult is one step

'tum ho mere'

In [67]:
text[5:13]

'o mere j'

In [68]:
country = "Pakistan"

In [71]:
# when we right the step it can do step by step 
country[0:7:2]

'Pksa'

# Topic: print() exercise

In [72]:
print("Pakistan",23,True, 23.3)

Pakistan 23 True 23.3

In [74]:
print("Pakistan",23,True, 23.3 ,sep="-")

Pakistan-23-True-23.3

In [75]:
print("Pakistan" , end=" ")
print(12 ,end=" ")
print(True,end=" ")
print(34.5)

Pakistan12True34.5

In [76]:
print()

In [77]:
friend_name = "Ahmad"
age  = 30
profession = "Laswer"
qualification = "bacler in law"
graduation_year = 2005
firm_name = "the himalya associatioes "
joining_date = 2015
height_ft = 5.1
weight_g = 70600
montley_income = 200000

In [78]:
current_year = 2024
years_after_bacholer = current_year - graduation_year

print(f"My friend {friend_name} has been {years_after_bacholer} years")

My friend Ahmad has been 19 years

In [79]:
exp_at_law_firm = current_year- joining_date
exp_at_law_firm

9

In [86]:
income_doloars  = montley_income / 280
print(income_doloars)

714

In [89]:
income_doloars  = montley_income / 280
f"{int(income_doloars)} dollers"

'714 dollers'

In [88]:
#we can also do like that
income_doloars  = montley_income // 280
print(int(income_doloars))

714

In [94]:
print(f"Mr Ahmad weight type is {type(weight_g)}")
weight_kg = weight_g //1000
print(f"Mr Ahmad weight in kg is {weight_kg}")
print(f"Mr Ahmad weight in kg is {type(int(weight_kg))}")

Mr Ahmad weight type is <class 'int'>
Mr Ahmad weight in kg is 70
Mr Ahmad weight in kg is <class 'int'>

In [95]:
100%6

4

In [96]:
birth_date = current_year - age
birth_date

1994

# python collections// data strctures 
#string 
#List 
#Tuple 
#Dictionary
#set

In [99]:
student = "Ahmad"

# List 
    '''
    - []
    - many values 
    - many type values 
    - mutable 
    - index
    - slice 
    - copy
    '''

In [102]:
#             0     1       2             3            4      5        6          7
students = ["Ali","basit","sanaullah", "imran khan", "asif","pagal","ampabe ","babaer azam"]
#             -8     -7       -6          -5           -4     -3        -2            -1

In [103]:
print(type(students))

<class 'list'>

In [104]:
students[1]

'basit'

In [105]:
students[4]

'asif'

In [106]:
students[-1]

'babaer azam'

In [107]:
students[-3]

'pagal'