# More on Functions  
                    -return
                    - global and local variable

In [6]:
name = "test"
def generate_profile(name,email,age):
    master = {} #local varaiable
    profile = {'name':name,'email':email,'age':age}
    return profile

In [7]:
generate_profile(name="sanaullah",email="irmakhan@gmail.com",age=22)

{'name': 'sanaullah', 'email': 'irmakhan@gmail.com', 'age': 22}

In [8]:

#hum local varaible ko access nahi kar sakte 
print(profile)

NameError: name 'profile' is not defined

In [11]:
#we dont change the value of the print
def add(a,b):
    print(a+b)

In [15]:
#hum is 30  ko change nahi karsakte print tume sirf output deta ha tume value return nahi karta 
add(10,20)

30

In [19]:
 # ya srif ap ko dekta ha deta nahi ha value 
print(add(1,3))

4

In [21]:
def add(a,b):
    return a+b

print(add(2,3))

In [22]:
def add(a,b):
    return a+b, "Pakistan zind"

In [23]:
add(4,5)

(9, 'Pakistan zind')

In [25]:
#sales:main  commsion calc 
#tax calc
#payement

In [3]:
def commisoncalc(units):
      if units >= 500:
          return 10000
      elif units >= 250:
          return 5000
      elif units >= 100:
          return 2000
      else:
       return 1000

In [7]:
def Texcalc(income):
    if income >=50000:
        return income*0.10
    elif income>=40000:
        return income*0.05
    elif income>=30000:
        return income*0.03
    else:
        return income*0

In [38]:
def salarycalcualtor(basic,units_sales):
    commission = commisoncalc(units_sales)
    total = basic+commission
    tax = Texcalc(total)
    net = total - tax
    return net

In [39]:
salarycalcualtor(50000,120)

46800.0

In [11]:
def sum_list(lst):
  s = 0
    for a in lst:
       s+=a
    return s
    
       
    #we dont use taht #  return sum(lst)

IndentationError: unexpected indent (4014142981.py, line 3)

In [47]:
sum_list([1,2,3,4,5,6,7,8,9,10])

1
2
3
4
5
6
7
8
9
10

In [95]:
def max_list(lst):
    max_num = lst[0]
    for n in lst:
        if n> max_num:
            max_num = n
    return max_num

In [96]:
max_list([13,24,33,4,5,6,7,8,9,10])

33

In [84]:

def sqare_dic(n):
  sq = {}
  for a in range(1,n+1):
    square = a**2
    sq[a]= square  
  return sq

In [85]:
sqare_dic(10)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [86]:
#comma seprated value 4 digits  binary numbers
#binary number isa number system ha jis ma 2 number use hote ha 0,1

In [87]:

bn =  input("enter value 4 digit binary numbers").split(",")
for n in bn:
    if int(n)%5==0

enter value 1010,1,0101011,11101,1110

In [88]:
bn

['1010', '1', '0101011', '11101', '1110']

In [90]:
int(1010)

1010

In [91]:
int(0b1010)

10

In [92]:
bin(10)

'0b1010'