In [21]:
def generate_profile(name,email,age):
    profile = {"name":name,'email':email,'age':age}
    return profile

In [23]:
generate_profile(name="sanaullah",email="sanaillah@gmail.com",age=23)

{'name': 'sanaullah', 'email': 'sanaillah@gmail.com', 'age': 23}

In [49]:
def commisoncalc(units):
      if units >= 500:
          return 10000
      elif units >= 250:
          return 5000
      elif units >= 100:
          return 2000
      else:
       return 1000

In [51]:
def Texcalc(income):
    if income >=50000:
        return income*0.10
    elif income>=40000:
        return income*0.05
    elif income>=30000:
        return income*0.03
    else:
        return income*0

In [55]:
def salary_Calcultor(units_sales,basic):
    commission = commisoncalc(units_sales)
    totel = basic+commission
    tax = Texcalc(totel)
    net = totel - tax
    return net

In [57]:
salary_Calcultor(40000,33)

10033

In [59]:
def age():

In [61]:
def name():
    pass

In [63]:
def profile():
    pass